<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Insight Data Science Project">
    <meta name="author" content="Andrew Chegwidden">
    <meta name="viewport" content="width=device-width , initial-scale=1" />
    
    <title>AutoPrice</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/one-page-wonder.css" rel="stylesheet">

  </head>

  <body>
    <!-- Navigation bar at the top -->
     <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">

<div class="container">
    <!--<a href="http://insightdatascience.com" >
        <img src="../static/media/insight_logo.jpeg" alt="InsightLogo" style="width:96px;height:48px;">
    </a>-->
    <img src="../static/media/AutoPriceLogo.png" alt="AutoPriceLogo" style="width384px;height:192px;">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <h2><a class="nav-link text-white" href="/home">Home</h2>
                <span class="sr-only">(current)</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
<!--
    <header class="masthead" >
      <div class="overlay bg-dark">
        <div class="container">
          <h1 class="display-2 text-white">AutoPrice</h1>
        </div>
      </div>
    </header>
-->
<br><br><br><br><br><br>

<section>
  <div class="container">
    <div class="row align-items-center">
      <h1 class="display-6 text-white">Adjust the sliders below to calculate your predicted monthly expenses for your new {{userVClass}}.</h1>
      <div class="col-md-6 order-2">
        <div class="p-5">
          <font size="7" color="white" style="font-weight:bold"><center><big>$<span style="font-weight:bold" id="dispVariable"></span> / mo</big></center></font>
          <form action="https://www.cars.com/for-sale/searchresults.action/">
            <input type="hidden" name="bsId" value={{bsId}} />
            <input type="hidden" name="prMx" value="34000" />
            <input type="hidden" name="rd" value="20" />
            <input type="hidden" name="searchSOURCE" value="QUICK_FORMS" />
            <input type="hidden" name="stkTyp" value="N" />
            <input type="hidden" name="stkTypId" value="28880" />
            <input type="hidden" name="tracktype" value="newcc" />
            <input type="hidden" name="zc" value="48910" />
            <center> <input type="submit" value="Find Matching Vehicles!" style="width:450px;font-size:25px;height:50px"/></center>
          </form>
        </div>
      </div>
      <div class="col-md-6 order-1">
        <div class="p-5">
          <div class="form-group">
            <font color="white" size="5">
              <label for="range">$15k</label>
              <input autocomplete="off" type="range" id="input_MSRP" name="input_MSRP" min="15000" max="75000" step="250" value ="30000" oninput="show_value(numberWithCommas(this.value))"></input>
              <output for="range" id="output_MSRP">$75k</output>
              <script>function show_value(x){document.getElementById("MSRP_slider_value").innerHTML=x;}</script>
              <p>MSRP: $<span id="MSRP_slider_value" >30,000</span></p>
                    
              <label for="range">$1</label>
              <input autocomplete="off" type="range" id="input_GasPrice" name="input_GasPrice" min="1" max="5" step="0.1" value ="2.4" oninput="show_value0(this.value)"></input>
              <output for="range" id="output_GasPrice">$5</output>
              <script>function show_value0(x){document.getElementById("GasPrice_slider_value").innerHTML=x;}</script>
              <p>Gas Price: $<span id="GasPrice_slider_value" >2.4</span> / gal</p>
                    
              <label for="range">0</label>
              <input autocomplete="off" type="range" id="input_Mileage" name="input_Mileage" min="0" max="50000" step="250" value ="15000" oninput="show_value1(numberWithCommas(this.value))"></input>
              <output for="range" id="output_Mileage">50,000</output>
              <script>function show_value1(x){document.getElementById("Mileage_slider_value").innerHTML=x;x=numberWithCommas(x);}</script>
              <p>Yearly Mileage: <span id="Mileage_slider_value" >15,000</span> miles / yr</p>
                    
              <label for="range">15</label>
              <input autocomplete="off" type="range" id="input_MPG" name="input_MPG" min="15" max="50" step="1" value ={{mpg_init}} oninput="show_value2(this.value)"></input>
              <output for="range" id="output_MPG">50</output>
              <script>function show_value2(x){document.getElementById("MPG_slider_value").innerHTML=x;}</script>
              <p>Vehicle MPG: <span id="MPG_slider_value" >{{mpg_init}}</span></p>
            </font>
          </div>
        </div>
      </div>
    </div>
    <h1 class="display-6 text-white">Your predicted monthly expenses for your new {{userVClass}} include financing, fuel, insurance, repair/maintenance, and estimated depreciation.</h1>
  </div>
</section>

<script>
  var MSRP =document.getElementById("input_MSRP");
  var GasPrice = document.getElementById("input_GasPrice");
  var Mileage= document.getElementById("input_Mileage");
  var MPG = document.getElementById("input_MPG");
  var Budget = 0; //variable to be controlled
  var dispVariable = document.getElementById("dispVariable");
  dispVariable.innerHTML = Budget;
  setInterval(function()
    {
    Budget = parseInt((Number(MSRP.value)*{{c1}} + Number(MPG.value)*{{c2}} + {{b}} - {{calcnum}} + (Number(GasPrice.value) * Number(Mileage.value) * 5.0 / Number(MPG.value))) / 60.0);
    if (Budget < 0) Budget=0;
    Budget=numberWithCommas(Budget);
    dispVariable.innerHTML = Budget;
    }, 100
    )
</script>

<script>function numberWithCommas(x){return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");}</script>

<!-- Footer
 <footer class="py-5 bg-dark">
 <div class="container">
 <p class="m-0 text-center text-white">Copyright &copy; AutoPrice.site 2017</p>
 </div>
 </footer>-->

<!-- Bootstrap core JavaScript -->
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/popper.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script>function numberWithCommas(x){return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");}</script>
</body>

</html>
